# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/